---
- name: Initialize network management variables
  ansible.builtin.set_fact:
    reboot_required: false
    network_reload_required: false

- name: Setup persistent network interface(s)
  ansible.builtin.include_role:
    name: net-persist
    public: true
  vars:
    interface: "{{ item }}"
  loop: "{{ hostvars[inventory_hostname].network_interfaces | default([]) }}"

- name: Configure network interface(s)
  ansible.builtin.include_role:
    name: net-config
    public: true
  vars:
    interface: "{{ item }}"
  loop: "{{ hostvars[inventory_hostname].network_interfaces | default([]) }}"

- name: Reload networkd and resolved
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: reloaded
    daemon_reload: true
  loop:
    - systemd-networkd
    - systemd-resolved
  when: reboot_required is false and network_reload_required is true

- name: Reboot the machine
  when: reboot_required is true
  ansible.builtin.reboot:
    reboot_timeout: 60
