---
apiVersion: v1
kind: Pod
metadata:
  name: unifi
  labels:
    app: unifi
spec:
  hostNetwork: true
  containers:
    - name: controller
      image: {{ unifi_image }}:{{ unifi_version }}
      env:
        - name: TZ
          value: "{{ unifi_timezone }}"
        - name: SYSTEM_IP
          value: "{{ unifi_bind_address }}"
        - name: JVM_MAX_HEAP_SIZE
          value: "{{ unifi_jvm_max_heap_size }}"
        - name: UNIFI_STDOUT
          value: "true"
      volumeMounts:
        - name: localtime
          mountPath: /etc/localtime
          readOnly: true
        - name: unifi-data
          mountPath: /unifi
      restartPolicy: Never

  volumes:
    - name: localtime
      hostPath:
        path: /etc/localtime
        type: File
    - name: unifi-data
      hostPath:
        path: {{ unifi_data_dir }}
        type: Directory
