# hosts.yml
all:
  children:
    servers:
      hosts:
        lisa:
        bart:
        marge:
        homer:
        maggie:
      vars:
        ansible_user: jgarcia
        ansible_become: true
        ansible_become_method: sudo
