[Unit]
Description=Ntfy Notification Service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory={{ podman_projects_dir | default('/opt/podman') }}/ntfy
ExecStart=/usr/bin/podman play kube --replace ntfy.yaml
ExecStop=/usr/bin/podman play kube --down ntfy.yaml
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
