---
- name: Setup zsh base config
  ansible.builtin.template:
    src: main.zshrc.j2
    dest: "{{ zsh_base_config }}"
    owner: "{{ zsh_user }}"
    group: "{{ zsh_user }}"
    mode: "0600"

- name: Setup .config/zsh directory
  ansible.builtin.file:
    path: "{{ zsh_config_path }}"
    state: directory
    owner: "{{ zsh_user }}"
    group: "{{ zsh_user }}"
    mode: "0700"

- name: Configure zsh config
  ansible.builtin.template:
    src: zshrc.j2
    dest: "{{ zsh_config_file }}"
    owner: "{{ zsh_user }}"
    group: "{{ zsh_user }}"
    mode: "0600"

- name: Copy aliases
  ansible.builtin.copy:
    src: ./templates/aliases
    dest: "{{ zsh_config_path }}/aliases"
    owner: "{{ zsh_user }}"
    group: "{{ zsh_user }}"
    mode: "0600"

- name: Change default shell to zsh
  ansible.builtin.user:
    name: "{{ zsh_user }}"
    shell: /bin/zsh

- name: Configure powerlevel10k theme
  ansible.builtin.copy:
    src: "./templates/{{ 'root.p10k.zsh' if zsh_user == 'root' else 'user.p10k.zsh' }}"
    dest: "{{ zsh_p10k_theme_config }}"
    owner: "{{ zsh_user }}"
    group: "{{ zsh_user }}"
    mode: "0600"
