# {{ ansible_managed }}
# systemd.network(5)

[Match]
Name={{ interface.name }}

[Address]
Address={{ interface.ipv4.address }}
{% if interface.ipv4.metric is defined %}
RouteMetric={{ interface.ipv4.metric }}
{% endif %}

[Network]
{% if interface.type is defined and interface.type == 'bridge' %}
ConfigureWithoutCarrier=yes
{% endif %}
{% if interface.ipv4.nameservers is defined %}
{% for dns in interface.ipv4.nameservers %}
DNS={{ dns }}
{% endfor %}
{% endif %}

{% if interface.ipv4.gateway is defined %}
[Route]
Gateway={{ interface.ipv4.gateway }}
{% if interface.ipv4.metric is defined %}
Metric={{ interface.ipv4.metric }}
{% endif %}
{% endif %}
