[Unit]
Description=Uptime Kuma Monitoring Service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory={{ podman_projects_dir | default('/opt/podman') }}/uptime-kuma
ExecStart=/usr/bin/podman play kube --replace uptime-kuma.yaml
ExecStop=/usr/bin/podman play kube --down uptime-kuma.yaml
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
