---
apiVersion: v1
kind: Pod
metadata:
  name: uptime-kuma
  labels:
    app: uptime-kuma
spec:
  containers:
    - name: server
      image: {{ uptime_kuma_image }}:{{ uptime_kuma_version }}
      ports:
        - containerPort: 3001
          hostPort: {{ uptime_kuma_port }}
      env:
        - name: TZ
          value: "{{ uptime_kuma_timezone }}"
      volumeMounts:
        - name: localtime
          mountPath: /etc/localtime
          readOnly: true
        - name: uptime-kuma-data
          mountPath: /app/data
      restartPolicy: Always

  volumes:
    - name: localtime
      hostPath:
        path: /etc/localtime
        type: File
    - name: uptime-kuma-data
      hostPath:
        path: {{ uptime_kuma_data_dir }}
        type: Directory
