[Unit]
Description=Immich Media Server

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory={{ podman_projects_dir | default('/opt/podman') }}/immich
ExecStart=/usr/bin/podman play kube --replace immich.yaml
ExecStop=/usr/bin/podman play kube --down immich.yaml
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
