# {{ ansible_managed }}
view:
    name: "vpn"
{% for host, ips in unbound_custom_vpn_records.items() %}
    local-data: "{{ host }}.        IN A {{ ips.v4 }}"
    {% if ips.v6 is defined %}
    local-data: "{{ host }}.        IN AAAA {{ ips.v6 }}"
    {% endif %}
{% endfor %}
