---
# see: https://docs.docker.com/engine/storage/drivers/zfs-driver/
# see: https://github.com/portainer/portainer
#
# Archlinux: only if your target is meant to frequently build docker images
# see: https://stackoverflow.com/a/78352698

- name: Uninstall docker
  when: uninstall_docker | lower in ['yes', 'y']

  block:
    - name: Include uninstall tasks
      ansible.builtin.include_tasks: uninstall.yml
    - name: Skip docker installation
      ansible.builtin.meta: end_play
- name: Install docker
  ansible.builtin.package:
    name: docker

- name: Enable the service
  ansible.builtin.service:
    name: "docker"
    enabled: true
    state: started

- name: Create projects directory
  ansible.builtin.file:
    path: "{{ docker_projects_dir }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: Allow user to use docker
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    groups: docker
    append: true
  notify: Inform user to relogin
