---
- name: Uninstall docker
  ansible.builtin.package:
    name: docker
    state: absent

- name: Prompt the user for confirmation
  ansible.builtin.pause:
    prompt: "[IRREVERSIBLE] Are you sure you want to delete {{ docker_projects_dir }}?"
    echo: true
  register: confirmation

- name: Remote projects directory
  ansible.builtin.file:
    path: "{{ docker_projects_dir }}"
    state: absent
    owner: "{{ main_user }}"
    group: "{{ main_user }}"
  when: confirmation.user_input | lower in ['yes', 'y']
